@model ProductCategoryAssociation

@{
    ViewData["Title"] = "Add Product";
}

<div class="col-sm-6">
    <h1 class="text-center">Add Product</h1>
    <div class="card">
        <div class="card-body">
            <form class="rounded p-3" asp-controller="Category" asp-action="AddProduct">
                <div class="form-group">
                    <label asp-for="ProductId"></label>
                    <span class="text-danger" asp-validation-for="ProductId"></span>
                    <select asp-for="ProductId" class="form-control">
                        @foreach(Product product in ViewBag.NonAssociatedProducts)
                        {
                            <option value="@product.ProductId">@product.Name</option>
                        }
                    </select>
                </div>
                <input type="submit" value="Submit" class="btn btn-sm btn-outline-primary">
            </form>
        </div>
    </div>
</div>