@{
    ViewData["Title"] = "All Products";
}

<div class="col-sm-6">
    <h1 class="text-center">Existing Products</h1>
    <div class="card">
        <div class="card-body">
            <div class="list-group">
                @foreach(Product product in Model) {
                    <a
                        asp-controller="Product"
                        asp-action="Details"
                        asp-route-productId="@product.ProductId"
                        class="list-group-item list-group-item-action"
                    >@product.Name</a>
                }
            </div>
        </div>
    </div>
</div>